<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Department Id</th>
      <th scope="col">DepartMent Name</th>
      <th scope="col">Employees</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td> </td>
      <td>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-4 col-form-label">Filter Employees</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Employee Name" [(ngModel)]="searchEmp">
          </div>
        </div>
      </td>
    </tr>
    <tr *ngFor="let dept of departments" [hidden]="dept.employeeMOS.length == 0">
      <td>
        {{ dept.deptId }}
      </td>
      <td>
        {{ dept.deptName }}
      </td>
      <td>
        <div *ngIf="dept.employeeMOS.length == 0"> No Employees in this Department</div>
        <table class="table table-striped" *ngIf="dept.employeeMOS.length > 0">
          <thead>
            <tr>
              <th scope="col">Employee Id</th>
              <th scope="col">Employee Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of dept.employeeMOS|employeeSearch : searchEmp">
              <td>
                {{ emp.empId }}
              </td>
              <td>
                {{ emp.empName }}
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>